.cabecalho{
	width: 100%;
	height:70px;
	display: flex;
    	background-color: #20151b; 
}
.name{
	width:10%;
	height:100%;
	display:flex;
	align-items:center;
	margin-left:15px;
	justify-content:left;
	color:#BC91D9;
}
.name a{
	text-decoration: none;
}
.name a:hover{
	color:#BC91D9;
}
.name a:visited{
	color:#BC91D9;
}
.bar{
	width:40%;
	height:100%;
	display:flex;
	align-content: center;
}
.bar input{
	width:100%;
	height:80%;
	text-align:left;
	margin-top: 10;
	padding-left: 25px;
	border-radius:15px;
	outline:none;
}
.links{
	width:50%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:space-around;
}

.links a{
	text-decoration:none;
}

.links a:hover{
	color:#BC91D9;
}

.links a:visited{
	color:#BC91D9;
}
