.cadastra{
	text-align:center;
}
.cadastra h1{
	color:#BC91D9;
}
.cadastra p{
	color:white;
}
.cadastra a{
	color:white;
}
.cadastra a:hover{
	color:#BC91D9;
}
#cadastro{
	display:flex;
}

.img{
	margin-left: 30px;
	margin-top:65px;
}
