/* Color Theme Swatches in Hex */
.alp-impressions-XXXI-1-hex { color: #F27E9D; }
.alp-impressions-XXXI-2-hex { color: #402B38; }
.alp-impressions-XXXI-3-hex { color: #8553A6; }
.alp-impressions-XXXI-4-hex { color: #71498C; }
.alp-impressions-XXXI-5-hex { color: #BC91D9; }

/* Color Theme Swatches in RGBA */
.alp-impressions-XXXI-1-rgba { color: rgba(242, 125, 156, 1); }
.alp-impressions-XXXI-2-rgba { color: rgba(63, 42, 56, 1); }
.alp-impressions-XXXI-3-rgba { color: rgba(132, 82, 165, 1); }
.alp-impressions-XXXI-4-rgba { color: rgba(113, 72, 140, 1); }
.alp-impressions-XXXI-5-rgba { color: rgba(188, 145, 216, 1); }

/* Color Theme Swatches in HSLA */
.alp-impressions-XXXI-1-hsla { color: hsla(343, 82, 72, 1); }
.alp-impressions-XXXI-2-hsla { color: hsla(320, 19, 20, 1); }
.alp-impressions-XXXI-3-hsla { color: hsla(275, 33, 48, 1); }
.alp-impressions-XXXI-4-hsla { color: hsla(275, 31, 41, 1); }
.alp-impressions-XXXI-5-hsla { color: hsla(275, 48, 70, 1); }

